data/hMOF/hmof_index.json filter=lfs diff=lfs merge=lfs -text
data/qmof_index_v2.json filter=lfs diff=lfs merge=lfs -text
data/qmof.csv filter=lfs diff=lfs merge=lfs -text
data/total_characteristics*.csv filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
